<!DOCTYPE html>
<html lang="en">
<head>

    <title>Search Youtube</title>
</head>
    <div>
        <h1>Input your favorite programming language</h1>
        <h2>     Java, Javascript or Python</h2>
    </div>
<body>
    <form method="POST" style="background-color: yellow;height: 400px;width: 560px;">
        <br>
        Lang : <input type="text" name="language">
        search query: <input type="text" name="search_query" required>
        <br>
        <input type="submit" value="Search">
        <br>
        <br>
        {{result}}
    </form>
    
</body>
</html>